h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  background-color: #D3D3D3;
  font-family: "Verdana";
  font-style: "normal";
}
.link{
  background-color: #D3D3D3;
  color : #ffffff;
}